<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Spesa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Categoria</ion-label>
            <div item-content>
                <span>{{spesa.categoria}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Sottocategoria</ion-label>
            <div item-content>
                <span>{{spesa.sottocategoria}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Importo Spesa</ion-label>
            <div item-content>
                <span>{{spesa.importoSpesa}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Data Spesa</ion-label>
            <div item-content>
                <span>{{spesa.dataSpesa | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Stato</ion-label>
            <div item-content>
                <span>{{spesa.stato}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Approved Date</ion-label>
            <div item-content>
                <span>{{spesa.approvedDate | date:'mediumDate'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Trasferta</ion-label>
            <div item-content *ngIf="spesa.trasfertaId">
                <a>{{spesa.trasfertaId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Structure</ion-label>
            <div item-content *ngIf="spesa.structureId">
                <a>{{spesa.structureId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(spesa)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(spesa)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
