<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Persona
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" name="nome" formControlName="nome"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cognome</ion-label>
                <ion-input type="text" name="cognome" formControlName="cognome"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Data Nascita</ion-label>
                <ion-input type="text" name="dataNascita" formControlName="dataNascita"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Codice Fiscale</ion-label>
                <ion-input type="text" name="codiceFiscale" formControlName="codiceFiscale"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Cid</ion-label>
                <ion-input type="text" name="cid" formControlName="cid"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Sede</ion-label>
                <ion-input type="text" name="sede" formControlName="sede"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Profilo</ion-label>
                <ion-select formControlName="profilo" id="field_profilo" >
                        <ion-select-option value="Employee">Employee</ion-select-option>
                        <ion-select-option value="AccountingOfficer">AccountingOfficer</ion-select-option>
                        <ion-select-option value="ProjectManager">ProjectManager</ion-select-option>
                        <ion-select-option value="Administrator">Administrator</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" name="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input type="text" name="telefono" formControlName="telefono"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
