<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'TAB3_TITLE' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-list>
	    <ng-container>
		    <ion-item>
		        <ion-icon name="contact"></ion-icon>
		        <ion-label>{{account?.firstName}} {{account?.lastName}}</ion-label>
		    </ion-item>
		    <ion-item>
		        <ion-icon name="logo-buffer"></ion-icon>
		        <ion-label>{{account?.login}}</ion-label>
		    </ion-item>
			<ion-item>
				<ion-icon name="mail"></ion-icon>
			  	<ion-label>{{account?.email}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="build"></ion-icon>
			  	<ion-label>{{account?.authorities}}</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="image"></ion-icon>
			  	<ion-label>{{account?.imageUrl}}</ion-label>
			</ion-item>
	    </ng-container>
	</ion-list>
</ion-content>
