<h2>Profili e Lingue</h2>
<div class="form-group">

  <label>Languages</label>
  <div>
    <select name="currentlang" ng-model="vm.currentlang">
	  <option value="it" >Italian </option>
	  <option value="en" >English </option>
	  <option value="fr" >French </option>
	  <option value="de" >German </option>
	  <option value="es" >Spanish </option>
    </select>
    <button ng-click="vm.addLanguage()">Add</button>
    <ul>
        <li ng-repeat="item in vm.languages" id="language_{{item}}"> 
        	<span class="flag-icon flag-icon-{{item=='en' ? 'us' : item}}"></span> 
        	{{item}} 
        	<button ng-click="vm.removeLanguage(item)">Remove</button>
        </li>
    </ul>
  </div>

  <label>Profiles</label>
  <div>
     <input type="text" name="currentProfile" ng-model="vm.currentProfile" placeholder="ROLE_ANONYMOUS"/>
     <button ng-click="vm.addProfile()">Add</button>
     <ul>
        <li ng-repeat="item in vm.profiles">{{item}}</li>
     </ul>
  </div>
  
  
  <label>Enumerations</label>
  <input type="text" name="currentEnumName" ng-model="vm.currentEnumName"/>
  <input type="text" name="currentEnumValue" ng-model="vm.currentEnumValue"/>
  <button ng-click="vm.addEnumeration()">Add</button>
  <ul>
       <li ng-repeat="item in vm.enumerations">{{item.name}} : {{item.values}}</li>
  </ul>
    
</div>