<h2>Profili e Lingue</h2>
<div class="form-group">

  <label>Languages</label>
  <div>
     <input type="text" name="currentlang" ng-model="vm.currentlang" />
     <button ng-click="vm.add()">Add</button>
     <ul>
        <li ng-repeat="item in vm.languages">{{item}}</li>
     </ul>
  </div>

  <label>Profiles</label>
  <div>
     <input type="text" name="currentprofile" ng-model="vm.currentprofile" placeholder="ROLE_ANONYMOUS"/>
     <button ng-click="vm.addprofile()">Add</button>
     <ul>
        <li ng-repeat="item in vm.profiles">{{item}}</li>
     </ul>
  </div>
  
  <label>Enumerations</label>
  <input type="text" class="form-control" name="enumerations" ng-model="vm.user.enumerations" placeholder="enumerations"/>

</div>