<h2>Profili e Lingue</h2>
<div class="form-group">

  <!--  
  <label>Languages</label>
  <input type="text" class="form-control" name="languages" ng-model="vm.user.languages" placeholder=""/>
  -->
  <label>Languages</label>
  <div>
     <input type="text" name="currentlang" ng-model="vm.currentlang" />
     <button ng-click="vm.add()">Add</button>
     <ul>
        <li ng-repeat="item in vm.languages">{{item}}</li>
     </ul>
  </div>

  <label>Profiles</label>
  <input type="text" class="form-control" name="profiles" ng-model="vm.user.profiles" placeholder="ROLE_ADMIN"/>

  <label>Enumerations</label>
  <input type="text" class="form-control" name="enumerations" ng-model="vm.user.enumerations" placeholder="enumerations"/>

</div>